.backgroundcolor {
    background-color: beige !important; 
}

.text {
    color: black !important;
    text-shadow: 1px 1px black;
}

.fontucla {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fontabout {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sizefont {
    font-size: larger;
}

.postfont {
    font-family: 'Times New Roman', Times, serif;
}

.contactfont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centerindex {
    text-align: center;
    display: block;
}

.allabout {
    color: antiquewhite;
}